body { background-image: url("../../img/tableBackgrounds/tableBack2.jpg"); }

#order {
	margin: 0 0 0 40pt;
	width: 50%;
}


.menuPizzaItem {
	display: block;
	margin: 0 0 20px 0;
	width: 100%;
	height: 280px;
}
.menuPizzaItemImg {
	float: left;
	width: 30%;
	height: auto;
}
.menuPizzaItemInfo {
	color: white;
	float: left;
	margin: 0 0 0 5%;
}
.mPIITitle {
	display: block;
	font-size: 40px;
	font-family: raleway, sans-serif;
	margin: 0 0 10px 0;
}
.mPIIIngredient {
	display: block;
	font-size: 15px;
	font-family: raleway, sans-serif;
	margin: 0;
}

#menuDrinks {
	float: left;
	margin: 0 0 0 40pt;
}
.menuDrinkItem {
	text-align: center;
	width: 30%;
	height: 350px;
}
.menuDrinkItemImg {
	width: 100%;
	height: auto;
}
.mPDITitle {
	display: block;
	font-size: 40px;
	font-family: raleway, sans-serif;
	margin: 0 0 10px 0;
}
