/*			Menu of drinks													*/
.menuDrinkItem {
	border-bottom: 1px dashed white;
	display: inline-block;
	width: 50%;
	height: 260px;
}
.menuDrinkItem:last-child { border: none; }
.menuDrinkItemImg {
	float: left;
	width: 50%;
	height: auto;
}

/*			Lateral pizza information bar									*/
#drinksInformation {
	background-color: rgba(0,0,0,0.7);
	float: left;
	margin: 0 0 0 5%;
	width: 30%;
	height: 100%;
}
.drinksInformationTypeImg {
	background-size: 100% 100%;
	display: block;
	float: left;
	width: 100px;
	height: 100px;
}
.drinksInformationTypeLabel {
	display: block;
	color: white;
}


/*			Buttons															*/
.buttonContainer {
	text-align: center;
	position: absolute;
	bottom: 100px;
	right: 5%;
}
.cancelButton, .skipButton, .DrinkOrderButton {
	border: none;
	font-family: raleway, sans-serif;
	padding: 20px 30px 20px 30px;
}
.cancelButton {
	background-color: grey;
	border: none;
	color: white;
	font-size: 30px;
	padding: 20px 60px 20px 60px;
}
.skipButton {
	background-color: green;
	border: none;
	color: white;
	font-size: 30px;
}
.DrinkOrderButton {
	background-color: green;
	border: none;
	color: white;
	font-size: 20px;
}
