.topStatusBar {
	margin: 0 0 0 40pt;
	top: 0;
	left: 0;
}
.topStatusBarArrows {
	background-color: green;
	display: inline-block;
	text-align: center;
	width: 520px;
	height: 30px;
}
.topStatusBarNames {
	display: inline-block;
	color: white;
	padding: 0 20px 0 20px;
}
