/*			Menu of drinks													*/
.menuDrinkItem {
	border-bottom: 1px dashed white;
	display: inline-block;
	width: 20%;
	height: auto;
}
.menuDrinkItem:last-child { border: none; }
.menuDrinkItemImg {
	float: left;
	width: 50%;
	height: auto;
}

.mPITitle {
	width: 100%;
	text-align: center;
	font-size: 40px;
	font-family: "Raleway", Fallback, sans-serif;
	margin: 0 0 10px 0;
}
/*			Lateral pizza information bar									*/
#drinksInformation {
	background-color: rgba(0,0,0,0.7);
	float: left;
	margin: 0 0 0 5%;
	width: 30%;
	height: 100%;
}

#extensiveInfoBar {
	position: fixed;
	width: 40%;
	right: 0px;
}

main {
	overflow-y: scroll;
}

.col-md-7.menuItems {
		width: 50%;
		height: 150%;
}

.buttonContainer {
	position: absolute;
	bottom: 150px;
	right: 100px;
}

::-webkit-scrollbar {
  background-color: rgba(46, 125, 50, 0.2);
	border-radius: 20px;
}

::-webkit-scrollbar:vertical {
	width: 0.5%;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(107, 155, 55, 0.4);
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: white;
}
