main label {
	color: white;
	font-family: bangers, Fallback, sans-serif;
	font-size: 60px;
	text-align: center;
	text-shadow: 0 0 10px #000;
}

/* Premade pizza sugestions */
#menuPremadePizzasSugestions {
	display: inline-block;
	overflow-x: scroll;
	overflow-y: visible;
	white-space: nowrap;
	width: 100%;
}
.menuPizzaSugestion {
	display: inline-table;
	margin:0 15pt;
}

/* Menu of premade pizzas */
#menuPremadePizzas {
	float: left;
	position: relative;
	overflow-x: hidden;
	height: 100%;
}
#menuPremadePizzas section {
	margin: 10px 0;
}
.menuPizzaItem {
	border-bottom: 1px dashed white;
	display: block;
	margin: 0;
	padding: 4vh 0;
	vertical-align: middle;

	width: 100%;
	height:auto;
}
.menuPizzaItem:last-child { border: none; }
.pizzaThumbnail {
	float: left;
	padding: 0;

	height: auto;
}
.menuSugestedPizzaImg {
	float: left;
	width: 20%;
	height: auto;
}
.menuPizzaItemInfo {
	color: white;
	text-align: center;
}
.mPIITitle {
	display: table-caption;
	font-size: 40px;
	font-family: raleway, sans-serif;
	margin-bottom: 10px;
}
.mPIIIngredientList {
	margin: 0;
	padding: 0;
}
.mPIIIngredient {
	display: block;
	font-family: raleway, Fallback, sans-serif;
	font-size: 16px;
	margin: 0;
}
.mPIISizeButton {
	background-color: rgba(0,0,0,0.6);
	border: none;
	color: white;
	font-size: 20px;
	margin: 10px 10px;
	padding: 15px 20px;
}

/* Create Your Own Pizza Shortcut */
#createPizzaShortcut {
	position: absolute;

	transform: translateY(-50%);
	top: 50%;
	right: 0;
}
.buttonContainer #cancelButton {
	background-color: grey;
	padding: 4% 8%;
}
.buttonContainer #skipButton {
	background-color: green;
	padding: 4% 6%;
}
.buttonContainer #pizzaOrder {
	font-size: 20px;
}
