label {
	color: white;
	font-size: 60px;
	font-family: bangers, sans-serif;
	text-shadow: 0 0 10px #000;
}

/* Premade pizza sugestions */
#menuPremadePizzasSugestions {
	overflow-x: scroll;
	overflow-y: visible;
	white-space: nowrap;
	width: 100%;
}
.menuPizzaSugestion {
	display: inline-block;
	width: 400px;
	height: 250px;
}

/* Menu of premade pizzas */
#menuPremadePizzas {
	float: left;
	position: relative;
	overflow-x: hidden;
	height: 100%;
}
#menuPremadePizzas section {
	margin: 10px 0;
}
.menuPizzaItem {
	border-bottom: 1px dashed white;
	display: block;
	margin: 0;
	padding: 4vh 0;
	width: 100%;
	height:auto;
}
.menuPizzaItem:last-child { border: none; }
.pizzaThumbnail {
	float: left;
	width: 30%;
	height: auto;
}
.menuSugestedPizzaImg {
	float: left;
	width: 20%;
	height: auto;
}
.menuPizzaItemInfo {
	color: white;
	float: left;
	margin-left: 5%;
}
.mPIITitle {
	display: block;
	font-size: 40px;
	font-family: raleway, sans-serif;
	margin-bottom: 10px;
}
.mPIIIngredient {
	display: block;
	font-size: 15px;
	font-family: raleway, sans-serif;
	margin: 0;
}
.mPIISizeButton {
	background-color: rgba(0,0,0,0.6);
	border: none;
	color: white;
	font-size: 20px;
	margin: 10px 20px 0 0;
	padding: 15px 20px 15px 20px;
}

/* Lateral pizza information bar */
#pizzaInformation {
	background-color: #6b9b37;
	float: right;
	margin-right: 5%;
	height: 100%;
	z-index: 5;
}
#pizzaInformation td { color: white; }
.pizzaRatingStar {
	background-image: url("../../img/icons/star.svg");
	display: inline-block;
	width: 18px;
	height: 18px;
}
#pizzaInformationClose {
	color: white;
	font-size: 40px;
	margin-top: 20px;
	text-align: right;
}

/* Create Your Own Pizza Shortcut */
#createPizzaShortcut {
	position: absolute;

	transform: translateY(-50%);
	top: 50%;
	right: 0;
}

/* Buttons */
.buttonContainer {
	text-align: center;
}
.buttonContainer button {
	border: none;
	color: white;
	font-family: raleway, sans-serif;
	padding: 20px 30px 20px 30px;
}
.buttonContainer #cancelButton {
	background-color: grey;
	font-size: 30px;
	padding: 20px 60px;
}
.buttonContainer #skipButton {
	background-color: green;
	font-size: 30px;
}
.buttonContainer #pizzaOrder {
	background-color: green;
	font-size: 20px;
}
