main label {
	font-family: bangers, Fallback, sans-serif;
	font-size: 60px;
	text-align: center
}

/* Premade pizza sugestions */
#menuPremadePizzasSugestions {
	display: inline-block;
	overflow-x: scroll;
	overflow-y: visible;
	white-space: nowrap;
	width: 100%;
}
.menuPizzaSugestion {
	display: inline-table;
	margin:0 15pt;
}

/* Menu of premade pizzas */
.menuPizzaItem {
	border-bottom: 1px dashed white;
	display: block;
	margin: 0;
	padding: 4vh 0;
	vertical-align: middle;

	width: 100%;
	height:auto;
}
.menuPizzaItem:last-child { border: none; }
.pizzaThumbnail {
	float: left;
	padding: 0;

	height: auto;
}
.menuSugestedPizzaImg {
	float: left;
	width: 20%;
	height: auto;
}
.menuPizzaItemInfo {
	color: white;
	text-align: center;
}
.mPIIIngredientList {
	margin: 0;
	padding: 0;
}
.mPIIIngredient {
	display: block;
	font-family: raleway, Fallback, sans-serif;
	font-size: 16px;
	margin: 0;
}
.mPIISizeButton {
	background-color: rgba(0,0,0,0.6);
	border: none;
	color: white;
	font-size: 20px;
	margin: 10px 10px;
	padding: 15px 20px;
}

/* Create Your Own Pizza Shortcut */
#createPizzaShortcut {
	position: absolute;

	transform: translateY(-50%);
	top: 50%;
	right: 0;
}
.buttonContainer #cancelButton {
	background-color: #D50000;
	border-color: #D50012;
	padding: 4% 8%;
}
.buttonContainer #skipButton {
	background-color: green;
	padding: 4% 6%;
}

.buttonContainer #pizzaOrder {
	font-size: 20px;
}

#extensiveInfoBar .mPITitle  {
	font-size: 50px;
	font-family: "Raleway", Fallback, sans-serif;
	margin-top: 10%;
	text-align: center;
	width: 100%;
}
#extensiveInfoBar .mPIIIngredient {
	display: block;
	font-family: raleway, Fallback, sans-serif;
	font-size: 16px;
	text-align: center;
	width: 100%;
}
.nutritionalTable {
	font-family: raleway, sans-serif;
	font-size: 20px;
	margin-top: 7.5%;
	margin-left: 30%;
	width: 45%;
}
.drinksInformationContainer {
	font-family: raleway, sans-serif;
	font-size: 20px;
	margin-top: 7.5%;
	margin-left: 30%;
	text-align: left;
	width: 100%;
}
.priceContainer {
	font-family: raleway, sans-serif;
	font-size: 20px;
	margin-left: 30%;
	text-align: left;
	width: 100%;
}

#extensiveInfoBar {
	position: fixed;
	width: 40%;
	right: 0px;
}
#pizzaOrderButton {
	background-color: #2ecc31;
	border-color: #27ae60;
	border-radius: 20px;
	color: white;
	font-family: raleway, sans-serif;
	font-size: 30px;
	margin-top: 7%;
	margin-left: 60%;
	text-align: center;
	width: 200px;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
}

.rating {
	font-size: 30px;
	margin-top: 60px;
	text-align: center;
	width: 100%;
}

.pizzaPriceDiv {
	margin-top: 50px;
	text-align: center;
	width: 100%;
	height: 100;
}
.pizzaPriceDiv label {
	color: green;
	font-size: 50px;
	font-family: "Bangers", Fallback, sans-serif;
	text-align: center;
	width: 100%;
}

 #backButton {
	background-color: green;
	padding: 4% 6%;
}
