main {
	overflow-y: scroll;
}

.menuTitle {
	color: #9ccc65;
	font-size: 100px;
	font-family: bangers, sans-serif;
	margin-top: 5%;
	margin-left: 5%;
	text-shadow: 0px 0px 10px #000;
}

.pizzaCustomizationItemsContainer {
	margin-left: 5%;
}

.customizeStep {
	display: block;
	text-shadow: 0px 0px 10px #000;
	margin-bottom: 5%;
}

.customizeStepTitle {
	color: #cfff95;
	font-size: 50px;
	padding: 2%;
	margin-top: 5%;
	margin-left: 5%;
}

.pizzaCustomizationItem {
	background-position: center;
	background-repeat: no-repeat;
	border-right: 5px dashed white;
	float:left;
	text-align: center;
	width: 33%;
	height: 500px;
}

.pizzaCustomizationItem:last-child { border: none; }

#size1 {
	margin-top: 15%;
	width: 250px;
	height: 250px;
}

#size2 {
	margin-top: 9%;
	width: 300px;
	height: 300px;
}

#size3 {
	margin-top: 3%;
	width: 350px;
	height: 350px;
}

.pizzaSizes {
	fill: white;
}
.pizzaSizes.active text {
	fill: #6b9b37;
}

.pizzaSizeText {
	color: white;
	font-size: 50px;
	font-family: raleway, sans-serif;
}

.pizzaDough {
	padding: 0 3% 0 3%;
	width: 33%;
	height: 250px;
	text-align: justify;
}

.pizzaDoughName {
	color: white;
	font-size: 35px;
	font-family: raleway, sans-serif;
	margin-top: 5%;
	margin-left: 10%;
}

.pizzaDoughDesc {
	color: white;
	font-size: 22px;
	font-family: 'Raleway-Medium', sans-serif;
	text-indent: 11%;
	margin: 0 auto;
}

.pizzaIngredientType {
	margin-top: 5%;
	margin-left: 10%;
	overflow-x: scroll;
	overflow-y: visible;
	white-space: nowrap;
	width: 50%;
}

.pizzaIngredientTypeLabel {
	color: white;
	display: block;
	font-size: 35px;
	font-family: 'Raleway', sans-serif;
	margin-top: 2.5%;
	margin-left: 5%;
}

.pizzaIngredient {
	display: inline-block;
	margin: 0 0 10px 0;
	width: 200px;
	text-align: center;
}

.pizzaIngredientImg {
	background-size: 140px 70px;
	margin: 0 70px 0 0; // change this to center texto and imagem
	width: 140px;
	height: 70px;
}

.pizzaIngredientName {
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	text-align: center;
	margin-left: -25%;
}

#pizzaArugula { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/arugula.png"); }
#pizzaBacon { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/bacon.png"); }
#pizzaBasil { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/basil.png"); }
#pizzaBeef { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/beef.png"); }
#pizzaCheese { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/cheese.png"); }
#pizzaChicken { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/chicken.png"); }
#pizzaElementalCheese { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/elementalcheese.png"); }
#pizzaFrenchCheese { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/frenchcheese.png"); }
#pizzaGarlic { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/garlic.png"); }
#pizzaGoatCheese { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/goatcheese.png"); }
#pizzaGreenOlive { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/greenolive.png"); }
#pizzaPeppers { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/peppers.png"); }
#pizzaHam { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/ham.png"); }
#pizzaMozzarella { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/mozzarella.png"); }
#pizzaMushroom { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/mushroom.png"); }
#pizzaOlives { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/olives.png"); }
#pizzaOnion { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/onion.png"); }
#pizzaParmesan { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/parmesan.png"); }
#pizzaPineapple { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/pineapple.png"); }
#pizzaProsciutto { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/prosciutto.png"); }
#pizzaJalapenõs { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/jalapenõs.png"); }
#pizzaPepperoni { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/pepperoni.png"); }
#pizzaSardin { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/sardin.png"); }
#pizzaSausage { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/sausage.png"); }
#pizzaSourCream { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/sourcream.png"); }
#pizzaSpinach { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/spinach.png"); }
#pizzaSweetCorn { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/sweetcorn.png"); }
#pizzaTomato { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/tomato.png"); }
#pizzaTuna { background-image: url("../../img/menus/customizeMenu/pizzaIngredients/tuna.png"); }
