body {
	background-image: url("../../img/tableBack3.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.menuTitle {
	color: darkorange;
	font-size: 150px;
	font-family: bangers, sans-serif;
	margin: 0 0 80px 50px;
	text-shadow: 0px 0px 10px #000;
}
#customizeYourPizza {
	float: left;
	width: 100%;
}
.customizeStep {
	display: block;
	margin: 10px 0 20px 50px;
}
.customizeStepTitle {
	color: white;
	font-size: 60px;
	margin: 0 0 30px 100px;
}
.pizzaCustomizationItemsContainer {
	margin: 0 0 0 150px;
	height: 500px;
}
.pizzaCustomizationItem {
	background-position: center;
	background-repeat: no-repeat;
	border-right: 2px dashed white;
	float:left;
	text-align: center;
	width: 500px;
	height: 500px;
}
.pizzaCustomizationItem:last-child { border: none; }

#size1 {
	background-image: url("../../img/pizzaMenu/pizzaMedium.png");
	background-size: 150px 150px;
}
#size2 {
	background-image: url("../../img/pizzaMenu/pizzaLarge.png");
	background-size: 250px 250px;
}
#size3 {
	background-image: url("../../img/pizzaMenu/pizzaFamily.png");
	background-size: 350px 350px;
}
.pizzaSizeText {
	color: darkorange;
	font-size: 60px;
	font-family: bangers, sans-serif;
}
.pizzaSlicesText {
	color: white;
	font-size: 30px;
	font-family: raleway, sans-serif;
}

.pizzaDough {
	margin: 0 20px 20px 0;
	padding: 0 20px 0 0;
	text-align: justify;
	width: 460px;
	height: 200px;
}
.pizzaDoughName {
	color: darkorange;
	font-size: 60px;
	font-family: bangers, sans-serif;
}
.pizzaDoughDesc {
	color: white;
	font-size: 20px;
	font-family: raleway, sans-serif;
}

.pizzaIngredientType {
	margin: 0 0 20px 0;
	overflow-x: scroll;
	overflow-y: visible;
	white-space: nowrap;
	width: 600px;
}

.pizzaIngredientTypeLabel {
	color: darkorange;
	display: block;
	font-size: 60px;
	font-family: bangers, sans-serif;
	margin: 0 0 20px 0;
}

.pizzaIngredient {
	display: inline-block;
	margin: 0 0 10px 0;
	width: 200px;
}

.pizzaIngredientImg {
	background-size: 140px 70px;
	width: 140px;
	height: 70px;
}
#pizzaMushroom { background-image: url("../../img/pizzaMenu/pizzaIngredients/pizzaMushroom.png"); }
#pizzaJalapenõs { background-image: url("../../img/pizzaMenu/pizzaIngredients/pizzaJalapenos.png"); }
