html, body {
	max-width: 100%;
	overflow-x: hidden;
}
body {
	font: initial;
}

header {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	background-color: black;
	text-align: center;
    height: 100%;
}

main {
	display: block;
	align-items: center;
	justify-content: center;
	text-align: center;
}

section {
	margin-top: 15pt;
	margin-bottom: 15pt;
}

#logoIST {
	background-image: url("../img/about/logoIST.svg");
	background-repeat: no-repeat;
	background-size: cover;
	margin:10pt;

	position: fixed;
	top:0;
	left:0;
	width:148.28pt;
	height:57.42pt;
}


.titleSubtitle {
	user-select: none;
	cursor: default;

	color: lightgrey;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.titleSubtitle h1 {
	font-size: 75pt;
}
.titleSubtitle p {
	font-size: 14pt;
}

.studentName {
	font-size: 16pt;
}
.studentId {
	font-size: 18pt;
}
.studentPic {
	background-color: lightgrey;
	border: 1px hidden;
	border-radius: 30px;
	box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.35);
	width: 120pt;
	transition: 0.1s linear;
	zoom: normal;
}
.studentPic:hover {
	transition: 0.1s linear;
	zoom: 120%;
}

.team {
	color: white;
	margin-top:10pt;
	margin-bottom:10pt;
}
.team tr {
	line-height: 22pt;
}
.team td {
	text-align: center;
}

.links {
	color: white;
	margin: 50pt;
}
.links h2 {
	color: darkorange;
	font-size: 26pt;
}
.links h3 {
	margin-top: 10pt;
	margin-bottom: 10pt;
}
.links a {
	display: inline-block;
	margin: 5pt;
	text-decoration: none;
}
.links a:hover {
	color: darkorange;
}
