.entertainmentPage {
	background-color: #333;
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:focus:hover { text-decoration: none; }
p {
	color: black;
	font-family: raleway, sans-serif;
	margin: 0;
}

.menuIcon, .subMenuIcon {
	background-position: center;
	background-repeat: no-repeat;
	height: 48px;
}

.verticalBar {
	background-color: black;
	float: left;
	text-align: center;
	width: 300px;
	height: 100%;
}
.verticalBarButton {
	background-color: grey;
	border: 1px solid white;
	width: 100%;
	height: 150px;
}
.verticalBarButton:hover { background-color: darkorange; }
.verticalBarButton:hover > div.menuIcon { filter: invert(100%); }
.verticalBarButton:hover > p { color: white; }
.menuTitle {
	font-size: 30px;
	padding: 20px 0 10px 0;
}
#orderIcon { background-image: url("../images/icons/pizzaWhite.svg"); }
#socialIcon { background-image: url("../images/icons/shareWhite.svg"); }
#entertainmentIcon1 { background-image: url("../images/icons/musicWhite.svg"); display: inline-block; width: 48px;}
#entertainmentIcon2 { background-image: url("../images/icons/gamesWhite.svg"); display: inline-block; width: 48px;}
#newsIcon { background-image: url("../images/icons/worldWhite.svg"); }
#informationIcon { background-image: url("../images/icons/navigationWhite.svg"); }

#countdown { margin: 50px 0 0 0; }

/* arrow that toggles the visibility of the vertical bar */
#arrowIcon {
	background-image: url("../images/icons/arrowLeftWhite.svg");
	background-position: center;
	background-repeat: no-repeat;
	float: left;
	width: 48px;
	height: 100%;
}
#arrowIcon.open {
	-ms-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.overlay {
	display: none;
	width: 1550px;
}

/*order overlay*/
.orderElementsList {
	color: white;
	cursor: context-menu;
	font-family: raleway, sans-serif;
	font-size: 20px;
}
.orderElementsRow > td {
	border-bottom: 1px dashed white;
	padding: 0 20px 0 20px;
}
.orderIncrement {
	color: darkorange;
	cursor: pointer;
	font-family: bangers, cursive;
	font-size: 70px;
}
.orderIncrement:active { color: black; }
#orderElementsListBanner {
	background-color: rgba(0,0,0,0);
	height: 70px;
	text-align: center;
	visibility: hidden;
	transition: all 300ms linear;
}
#orderElementsListBanner > td {
	color: white;
	font-size: 20px;
	font-weight: bolder;
}

/*social media overlay*/
.fa {
	color: white;
	font-size: 60px;
	padding: 120px 40px 120px 40px;
	text-align: center;
	text-decoration: none;
	width: 200px;
	height: 300px;
	transition: 0.5s linear;
}
.fa:hover { color: #333; }
.fa:focus {
	color: white;
	text-decoration: none;
}
.fa:focus:hover {color: #333;}

.fa-facebook { background: #3B5998; }
.fa-twitter { background: #55ACEE; }
.fa-instagram { background: #125688; }

.fa-spotify { background: #68CE02; }
.fa-youtube { background: #e52d27; }

/*information overlay*/
#mapGoogle {
	box-shadow: 0 5px 20px 0 rgba(0,0,0,1);
	color: white;
	margin: 30px 0 0 0;
	width: 1550px;
	height: 900px;
}
.informationButton {
	background-color: grey;
	display: inline-block;
	text-align: center;
	width: 240px;
	height: 150px;
}
.informationButton:hover { background-color: darkorange; }
.informationButton:hover > div.subMenuIcon { filter: invert(100%); }
.subMenuTitle {
	color: white;
	font-size: 30px;
	padding: 20px 0 10px 0;
}
#taxiIcon { background-image: url("../images/icons/taxiWhite.svg"); }
#UberIcon { background-image: url("../images/icons/uberWhite.svg"); }
#publicTransportIcon { background-image: url("../images/icons/publictransportWhite.svg"); }
#barIcon { background-image: url("../images/icons/barWhite.svg"); }
#mallIcon { background-image: url("../images/icons/mallWhite.svg"); }
#movietheaterIcon { background-image: url("../images/icons/movietheaterWhite.svg"); }
