/* Main types */
label {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Helper classes */
.wrapper {
	max-width: 960px;
	margin: 3%;
	padding: 0 10px;
}
