/* Palette: black, #333, darkorange, lightgrey & white */

/* Main types */
body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	background-color: #333;
	font-family: 'Raleway', sans-serif;
}

/* Helper classes */
.wrapper {
	align-items: center;
	justify-content: center;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}
