main {
	margin: 2%;
}

.informationButton {
	background-color: rgba(255,255,255,0.8);
	display: inline-block;
	height: 150px;
	min-width: 150px;
	max-width: 250px;
	padding: 0 10px 0 10px;
	text-align: center;
}
.informationButton:hover { background-color: darkorange; }
.subMenuTitle {
	color: black;
	font-size: 30px;
	padding: 20px 0 10px 0;
}
.subMenuIcon {
	width: 48px;
	height: 48px;
	margin: 5px 10px;
}
#barIcon { background-image: url("../img/icons/bar.svg"); }
#mallIcon { background-image: url("../img/icons/mall.svg"); }
#movietheaterIcon { background-image: url("../img/icons/movietheater.svg"); }
#taxiIcon { background-image: url("../img/icons/taxi.svg"); }
#UberIcon { background-image: url("../img/icons/uber.svg"); }
#publicTransportIcon { background-image: url("../img/icons/publictransport.svg"); }

.informationSubMenu {
	display: inline-block;
	margin: 0 10px 0 0;
	text-align: center;
}
.informationSubMenuTitle {
	color: white;
	display: block;
}
#mapsDestinationInput {
	border: 0;
	color: black;
	float: left;
	font-size: 20px;
	margin: 10px 0;
	padding: 15px 10px 15px 10px;
	width: 300px;
}
#micIcon {
	background-image: url("../img/icons/mic.svg");
	display: inline-block;
	margin: 15px 0 0 0;
}
#micIcon:hover { filter: invert(100%); }
#iframeMap {
	border: 0;
	box-shadow: 0 10px 10px 0 black;
	margin: 0 2.5%;
	width: 95%;
	height: 70%;
}

button {
	background-color: #2566ce;
	border: none;
	color: white;
	font-family: raleway, sans-serif;
	font-size: 20px;
	margin: 0;
	padding: 20px 30px;
}

#mapsMainButtonContainer {
	margin: 10px 2.5%;
}
.mapsMainButton {
	min-width: 200px;
}

#shareButtonContainer, #interestsButtonContainer, #directionsButtonContainer {
	margin: 10px 0;
}
.shareButton, .interestsButton, .directionsButton {
	background-color: white;
	color: black;
	min-width: 50px;
}
