.mPIITitle {
	display: block;
	font-size: 40px;
	font-family: raleway, sans-serif;
	margin: 0 0 10px 0;
	text-align: left;
}

.mPIIIngredient {
	display: block;
	font-size: 15px;
	font-family: raleway, sans-serif;
	margin: 0;
	text-align: left;
}

.orderStatusContainer {
	background-color: rgba(0,0,0,0.6);
	border-radius: 5px;
	display: block;
	height: 32vh;
	margin: 0 auto;
	width: 100%;
}

#orderStatusText {
	font-family: 'Bangers', cursive;
	font-size: 50px;
	color: #ecf0f1;
	margin-top: 10vh;
	margin-left: 9vh;
}

#timer {
	padding-top: 2%;
	padding-right: 2%;
}

.col {
	color: #ecf0f1;
	float: left;
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
	text-align: center;
	width: 25%;
}


#pizza {
	padding-top: 2%;
	padding-left: 2%;
}

.editcancel {
	background-color: #2ecc31;
	border-color: #27ae60;
	box-shadow: 0px 5px 10px black;
	color: #ecf0f1;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	margin: auto;
	margin-top: 10%;
	height: 50px;
	width: 250px;
}

#buttonNewOrder {
	background-color: #2ecc31;
	border-color: #27ae60;
	box-shadow: 0px 5px 10px black;
	color: #ecf0f1;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	margin: 0 auto;
	margin-top: 5%;
    padding: 3%;
    text-align: center;
	width: 40%;
}
