body {
	height: 100%;
	overflow: hidden;
}
.viewport {
	border: 1px solid #dcdcdc;
	float: left;
	width: 250pt;
	height: 250pt;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
}
.logoIcon {
	border: 5pt solid white;
	border-radius: 7px;
	right: 10;
	bottom: 10;
	position: absolute;
	width: auto;
	height:50px;
}
.buttons {
	background: white;
	background-image: url("../img/icons/arrowLeft.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 35px;
	display: block;
	float: left;
	position: relative;
	margin: 30px 10px;
	width: 35px;
	height: 35px;
}
.buttons:hover {
	background-color: darkorange;
}
.buttons.next {
	transform: scaleX(-1);
}
.overview {
	color: white;
	list-style: none;
	position: absolute;
	padding: 0;
	margin: 0;
	width: 250pt;
	top: 0;
	left: 0;
}
.overview li {
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: 50%;
	float: left;
	margin: 0 20px 0 0;
	padding: 1px;
	width: 250pt;
	height: 250pt;
}

/* FIXME: remove the following */
img {
	width: 100%;
}
