body {
	background-image: url("../img/tableBack2.jpg");
	margin: 0;
}
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:focus:hover { text-decoration: none; }
p, label {
	color: black;
	font-weight: normal;
	font-size: 30px;
	margin: 0;
}
div {
	background-position: center;
	background-repeat: no-repeat;
}
::-webkit-input-placeholder { color: black; }
::-moz-placeholder { color: black; }

.menuIcon, .subMenuIcon { width: 48px; height: 48px; }
#logoIcon {
	background-image: url("../img/paradiziaLogo.png");
	margin: 0 auto 0 auto;
	width: 250px;
	height: 250px;
}

.verticalBar {
	background-color: rgba(0,0,0,0.7);
	float: left;
	width: 300px;
	height: 100%;
}
.verticalBarButton {
	border-bottom: 1px dashed white;
	padding: 20px 0 20px 0;
	width: 100%;
}
.verticalBarButton:hover svg { fill: white; }
.menuTitle {
	color: white;
	margin: 10px 0 10px 10px;
}
.menuIcon {
	float: left;
	margin: 0 0 0 20px;
	fill: #C8190E;
}
#newsIcon { background-image: url("../img/icons/worldWhite.svg"); }
#informationIcon { background-image: url("../img/icons/navigationWhite.svg"); }

/* arrow that toggles the visibility of the vertical bar */
#arrowIcon {
	background-image: url("../img/icons/arrowLeftWhite.svg");
	filter: invert(100%);
	float: left;
	width: 48px;
	height: 100%;
}

/*overlay css*/ .overlay {
	display: none;
	font-size: 0px;
	width: 1550px;
}

/*order overlay*/
.pizzaMakerList {
	color: black;
	cursor: context-menu;
	font-family: "Raleway", Fallback, sans-serif;
	font-size: 20px;
}
.pizzaMakerItem > td {
	border-bottom: 1px dashed black;
	padding: 0 20px 0 20px;
}
