/* Palette: black, #333333, darkorange, lightgrey & white */

body {
	background-color: #333333;
	font: initial;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}

h1 {
	background-color: lightgrey;
	border: 2px solid black;
	border-radius: 10px;
	color: #333;
	font-size: 24pt;
	margin: 5pt;
	padding: 0.9em;
	text-align: center;
}

h4 {
	background-color: darkgrey;
	color: #333333;
	font-size: 16px;
	padding: 4pt 0;
	text-align: center;
}
h4:first-child {
	border-radius: 5px 5px 0 0;
	margin-top: 0;
}

span {
	display:block;
	width: 100%;
}

a {
	color: #333333;
}
a:hover {
	color: darkorange;
	text-decoration: none;
}

button#createProfile {
	width: 125px;
	margin: auto;
	display: block;
	font-size: 16px;
	padding: 1.5% 0;
	border: 1px solid black;
	border-radius: 5px;
}
button#createProfile:hover {
	background-color: darkorange;
	color: white;
}

form {
	background-color: lightgrey;
	border-radius: 5px;
	color: #333333;
	display: block;
	margin: 10pt auto;
}
form.container {
	padding: 0;
	padding-bottom: 1%;
	width: 666px;
}

input {
	margin: 0.5em 0;
	padding: 0.6%;
}
input[type="text"]     { width: 100%; }
input[type="password"] { width: 50%; }
input[type="date"]     { width: 30%; }
input[type="checkbox"] { margin: 5pt; }
input[type="radio"]    { margin: 5pt; }

label {
	color: #333333;
}
