/* font-family: 'Raleway', sans-serif; */
/* Pallete: black, #333333, darkorange, lightgrey & white */

body {
	background-color: #333333;
	font-family: 'Raleway', sans-serif;
}

h1 {
	background-color: lightgrey;
	border: 2px solid black;
	border-radius: 10px;
	color: #333;
	font-family: 'Raleway', sans-serif;
	margin: auto;
	padding: 0.9em;
	text-align: center;
}

h4 {
	background-color: darkgrey;
	color: #333333;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	padding: 4pt 0;
	text-align: center;
}
h4:first-child {
	border-radius: 5px 5px 0 0;
}

form {
	background-color: lightgrey;
	border-radius: 5px;
	color: #333333;
	display: block;
	font-size: 14px;
	margin: auto;
	padding-bottom: 1%;
	width: 666px;
}

input {
	margin: 1em auto;
	margin-left: 4.1%;
	padding: 0.6%;
}

label {
	font-size: 12px;
	color: #333333;
	padding-left: 1%;
}

#paymentMethod {
	padding-top: 0.6%;
	padding-bottom: 0.6%;
	margin-left: 4.1%;
}

#createProfile {
	width: 125px;
	margin: auto;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	border: 1px solid black;
	border-radius: 5px;
}
#createProfile:hover {
	background-color: darkorange;
	color: white;
}

.interests {
	margin-left: 4.1%;
}

#column1, #column2, #column3 {
	width: 150px;
	display: inline-block;
}

.fields input {
	display: block;
	width: 90%;
}

.gender label {
	font-size: 14px;
}

.subscriptions {
	display: block;
	margin-left: 4.1%;
}
.subscriptions a {
	color: #333333;
	text-decoration: none;
}
.subscriptions a:hover {
	color: darkorange;
}
