body {
	background-image: url("../images/homeBackgroundSquare.svg");
	background-repeat: repeat;
	background-size: 8pt;
	height: 100%;
	margin:0;
}

.homeButtons.container-fluid{
}

.numberCustomers{
	background-position: center;
	background-repeat: no-repeat;
	background-size: 150pt;
	color: black;
	font-size: 20px;
	text-align: right;
	text-decoration: none;
}

li.numberCustomers {
	display:inline-block;
	border: 1px solid black;
	margin: 0 0 15pt 15pt;
	width: 200pt;
	height: 200pt;
}

#oneCustomers   { background-image: url("../images/button-1.svg"); }
#twoCustomers   { background-image: url("../images/button-2.svg"); }
#threeCustomers { background-image: url("../images/button-3.svg"); }
#fourCustomers  { background-image: url("../images/button-4.svg"); }
