.background{
	background-color: white;
	background-size: 100vh 100vh;
	height: 100vh;
}

.container{ padding: 10% 0; }
.row{
	height: 200px;
	margin: 0 0 25px 0;
}


.homeButton{
	border: 1px solid black;
	height: 100%;
	text-align: center;
}
.homeButtonImg{
	width: 106px;
}
.homeButtontext{
	color: black;
	font-family: ; 
	font-size: 20px;
	margin: 0 90%;
	text-decoration: none;
	width: 20px;
}

#one{

	color: black;
}