.entertainmentPage {
	margin: 0;
}

a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:focus:hover { text-decoration: none; }
p, label {
	color: black;
	font-weight: normal;
	font-size: 30px;
	margin: 0;
}

div {
	background-position: center;
	background-repeat: no-repeat;
}

.menuIcon, .subMenuIcon { height: 48px; }

.verticalBar {
	background-color: black;
	float: left;
	text-align: center;
	width: 250px;
	height: 100%;
}
.verticalBarButton {
	background-color: grey;
	border: 1px solid white;
	width: 100%;
	height: 150px;
}
.verticalBarButton:hover { background-color: darkorange; }
.verticalBarButton:hover > p { color: white; }
.verticalBarButton:hover > div.menuIcon { filter: invert(100%); }
.menuTitle { display: block; padding: 20px 0 10px 0; }
#orderIcon { background-image: url("../img/icons/pizzaWhite.svg"); }
#socialIcon { background-image: url("../img/icons/shareWhite.svg"); }
#entertainmentIcon1 { background-image: url("../img/icons/musicWhite.svg"); display: inline-block; width: 48px;}
#entertainmentIcon2 { background-image: url("../img/icons/gamesWhite.svg"); display: inline-block; width: 48px;}
#newsIcon { background-image: url("../img/icons/worldWhite.svg"); }
#informationIcon { background-image: url("../img/icons/navigationWhite.svg"); }

/*countdown for the order ETA*/ #countdown { margin: 50px 0 0 0; }

/* arrow that toggles the visibility of the vertical bar */
#arrowIcon {
	background-image: url("../img/icons/arrowLeftWhite.svg");
	float: left;
	width: 48px;
	height: 100%;
}

/*overlay css*/ .overlay {
	display: none;
	font-size: 0px;
	width: 1550px;
}

/*order overlay*/
.orderElementsList {
	color: white;
	cursor: context-menu;
	font-family: "Raleway", Fallback, sans-serif;
	font-size: 20px;
}
.orderElementsRow > td {
	border-bottom: 1px dashed white;
	padding: 0 20px 0 20px;
}
.orderIncrement {
	color: darkorange;
	cursor: pointer;
	font-family: "Bangers", Fallback, cursive;
	font-size: 70px;
}
.orderIncrement:active { color: black; }
#orderElementsListBanner {
	background-color: rgba(0,0,0,0);
	color: rgba(255,255,225,0);
	height: 70px;
	text-align: center;
	transition: all 300ms linear;
}

/*social media overlay*/
.fa {
	color: white;
	font-size: 60px;
	padding: 120px 40px 120px 40px;
	text-align: center;
	transition: 0.3s linear;
	width: 200px;
	height: 300px;
}
.fa:hover { color: #333; }

.fa-facebook { background: #3B5998; }
.fa-twitter { background: #55ACEE; }
.fa-instagram { background: #125688; }

/*entertainment overlay*/
.fa-spotify { background: #68CE02; }
.fa-youtube { background: #e52d27; }

.informationButton {
	background-color: grey;
	border: 1px solid white;
	display: inline-block;
	height: 150px;
	min-width: 150px;
	max-width: 250px;
	padding: 0 10px 0 10px;
	text-align: center;
}
.informationButton:hover { background-color: darkorange; }
.informationButton:hover > div.subMenuIcon { filter: invert(100%); }
.subMenuTitle {
	color: white;
	font-size: 30px;
	padding: 20px 0 10px 0;
}
#barIcon { background-image: url("../img/icons/barWhite.svg"); }
#mallIcon { background-image: url("../img/icons/mallWhite.svg"); }
#movietheaterIcon { background-image: url("../img/icons/movietheaterWhite.svg"); }
#taxiIcon { background-image: url("../img/icons/taxiWhite.svg"); }
#UberIcon { background-image: url("../img/icons/uberWhite.svg"); }
#publicTransportIcon { background-image: url("../img/icons/publictransportWhite.svg"); }

.informationSubMenu {
	display: inline-block;
	margin: 0 10px 0 0;
	text-align: center;
}
.informationSubMenuTitle {
	color: white;
	display: block;
}
#mapsDestinationInput {
	font-size: 20px;
	color: black;
	margin: 5px 0 5px 0;
	width: 300px;
}
#iframeMap {
	border: 0;
	box-shadow: 0 10px 10px 0 black;
	width: 1550px;
	height: 600px;
}
#mapError {
	background-color: red;
	color: white;
	margin: 15px 0;
	padding: 20px 50px 20px 50px;
}
