html, body {
	overflow: hidden;
	background-image: url("../img/tableBackgrounds/tableBack1.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

main {
	position: relative;
	margin-top: 5vh; /* Size of (possible) top navbar */
	margin-left: 40pt; /* Size of left-side menubar */
	height: 100%;
}

main ::-webkit-scrollbar {
	width: 10px;
	height:10px;
}
main ::-webkit-scrollbar-track-piece {
	background-color: rgba(255,255,255,0.1);
	border-radius: 10px;
}
main ::-webkit-scrollbar-thumb {
	background-color: rgba(255,255,255,0.7);
	border-radius: 10px;
}

p {
	color: white;
}

/* Buttons */
.buttonContainer {
	text-align: center;
}
.buttonContainer button {
	border: none;
	color: white;
	font-family: raleway, sans-serif;
	font-size: 30px;
}
