/******************************* General rules ********************************/
html, body {
	width:  100vw;
	height: 100vh;
	overflow: hidden;
}

a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:focus:hover { text-decoration: none; }
p, label {
	color: white;
	font-weight: normal;
	font-size: 30px;
	margin: 0;
}
div {
	background-position: center;
	background-repeat: no-repeat;
}
::-webkit-input-placeholder { color: black; }
::-moz-placeholder { color: black; }

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
	padding: 0;
}

/***************************** Table specifics ********************************/
main {
	background-size: cover;
	background-image: url("../img/tableBack2.jpg");

	width:  100%;
	height: 100%;
	z-index: -1;
}

/* Overlay content */
.overlay {
	text-align: center;
}

.fa {
	color: white;
	font-size: 60px;
	padding: 70px 40px 60px 40px;
	text-align: center;
	transition: 0.3s linear;
	width: 200px;
	height: 200px;
}
.fa:hover { color: #333; }

/*entertainment overlay*/
.fa-spotify { background: rgba(87,172,2,0.8); /*#57AC02;*/ }
.fa-youtube { background: rgba(229,45,39,0.8); /*#e52d27;*/ }


.ytplayer {
	height: 700px;
}

.informationButton {
	background-color: rgba(255,255,255,0.8);
	display: inline-block;
	height: 150px;
	min-width: 150px;
	max-width: 250px;
	padding: 0 10px 0 10px;
	text-align: center;
}
.informationButton:hover { background-color: darkorange; }
.subMenuTitle {
	color: black;
	font-size: 30px;
	padding: 20px 0 10px 0;
}
.subMenuIcon {
	width: 48px;
	height: 48px;
	margin: 5px 10px;
}
#barIcon { background-image: url("../img/icons/bar.svg"); }
#mallIcon { background-image: url("../img/icons/mall.svg"); }
#movietheaterIcon { background-image: url("../img/icons/movietheater.svg"); }
#taxiIcon { background-image: url("../img/icons/taxi.svg"); }
#UberIcon { background-image: url("../img/icons/uber.svg"); }
#publicTransportIcon { background-image: url("../img/icons/publictransport.svg"); }

.informationSubMenu {
	display: inline-block;
	margin: 0 10px 0 0;
	text-align: center;
}
.informationSubMenuTitle {
	color: white;
	display: block;
}
#mapsDestinationInput {
	border: 0;
	color: black;
	float: left;
	font-size: 20px;
	margin: 10px 0;
	padding: 15px 10px 15px 10px;
	width: 300px;
}
#micIcon {
	background-image: url("../img/icons/mic.svg");
	display: inline-block;
	margin: 15px 0 0 0;
}
#micIcon:hover { filter: invert(100%); }
#iframeMap {
	border: 0;
	box-shadow: 0 10px 10px 0 black;
}
